<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />

    <!-- Request legacy Bluetooth permissions on older devices. -->

    <!--Supposed crash fix for the manufacturers that don't follow the specs-->
<!-- https://console.firebase.google.com/project/bluetooth-chat-43f25/crashlytics/app/android:com.bluetoothchat.app/issues/5032d55574dbeb7169dbb81b549f3562?time=last-thirty-days&sessionEventKey=66D853AB0215000149F3B06FE2FEF602_1989210785845003742 -->
<!--    https://issuetracker.google.com/issues/237308366-->
    <uses-permission android:name="android.permission.BLUETOOTH" tools:remove="android:maxSdkVersion" />

    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="30" />

    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:minSdkVersion="31"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADVERTISE"
        android:minSdkVersion="31" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_CONNECT"
        android:minSdkVersion="31" />

    <!--MOVE TO THE APPROPRIATE MODULE WITH THE MANAGER-->
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />

    <application>
        <service
            android:name=".BtService"
            android:foregroundServiceType="connectedDevice"
            />
    </application>

</manifest>
